<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @album.artist %>
</p>

<p>
  <b>Released:</b>
  <%= @album.released %>
</p>

<p>
  <b>Value:</b>
  <%= @album.value %>
</p>

<p>
  <b>Tracks:</b><br />
  <% @album.tracks.each do |track| %>
    <%= link_to track.title, track %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
